*
{
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
}

button
{
	padding: 14px 25px;
	position: absolute;
	border: 0;
	top: 40%;
	left: 50%;
	background-color: #474e5d;
	color: #ffffff;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 900;
	border-radius: 3px;
	transition: transform .3s ease-in-out,
				box-shadow .3s ease-in-out,
				opacity .4s ease-in-out,
				background-color .2s,
				color .2s;
	opacity: .8;

	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}

button:hover
{
	box-shadow: 0 -13px 10px -8px #868a93;
	opacity: 1;
	transform: translateY(5px) scale(1.1);
}

button:active
{
	background-color: #333333;
}

button:hover:after
{
	opacity: 1;
	bottom: calc(100% + 10px);
	transition: opacity .3s ease-in .5s,
				bottom .3s ease-in-out .5s;
}

button:after
{
	content: attr(data-tooltip);
	position: absolute;
	bottom: 100%;
	right: 0;
	border-radius: 50px 50px 0 50px;
	display: inline-block;
	padding: 10px 20px;
	background-color: rgba(0, 0, 0, .8);
	white-space: nowrap;
	opacity: 0;
	transition: opacity .3s ease-in .3s,
				bottom .3s ease-in-out .3s;
}